.statistics {
  box-sizing: border-box;
  width: 300px;
  display: block;
  margin-bottom: 30px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  text-align: center;
  background-color: lightgray;

  h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-size: 30px;
    color: gray;
  }
}
